/**
 * @name Input
 * @author Tropical#8908 & Qwerasd#5202, forked by mintanyl
 * @version 1.0
 * @description changing font to my thing
 * @source https://github.com/noiseredux2/discord-input/
 */

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import url(https://discordstyles.github.io/discord-dyslexia/src/base.css);

/* ----------------------------------------------------------------------- */

/* SETTINGS */

:root {
    --word-spacing: 3px;       /* Word spacing */
    --letter-spacing: 0.25px;  /* Letter Spacing */
    --message-line-spacing: 2; /* Line spacing on messages */
}

/* ----------------------------------------------------------------------- */
