/**
 * @name Input
 * @author Tropical#8908 & Qwerasd#5202, forked by mintanyl
 * @version 1.0
 * @description changing font to my thing
 * @source https://github.com/noiseredux2/discord-input/
 */

/* ----------------------------------------------------------------------- */

/* IMPORT SOURCE CODE */

@import url(https://github.com/noiseredux2/discord-Input/raw/refs/heads/main/src/base.css);

/* ----------------------------------------------------------------------- */

/* SETTINGS */

:root {
    --word-spacing: 0px;       /* Word spacing */
    --letter-spacing: 0.00px;  /* Letter Spacing */
    --message-line-spacing: 0; /* Line spacing on messages */
}
/* ----------------------------------------------------------------------- */
